.container {
	text-align: center;
}

ul{
	list-style: none;
}

.head, h3{
	color: rgba(0,0,0,.7);
}

.head {
	border-bottom: solid rgba(0,0,0,.1);
}

.cart {
	margin-top: 1%;
	background: rgba(0,0,0,.01);
	height: 100%;
}

.diet {
	margin-top: 1%;
}

.diet-list {
	list-style: none;
	text-align: left;
	margin: 2% 0 2% 0;
}

.diet-list label{
	margin-left: 2%;
}

.hidden {
	display: none;
}

.show {
	display : block;
}
